Package: sudoku
Version: 1.0.5-2.1
Architecture: amd64
Maintainer: Peter Spiess-Knafl <dev@spiessknafl.at>
Installed-Size: 124
Depends: libc6 (>= 2.34), libncurses6 (>= 6), libtinfo6 (>= 6)
Section: games
Priority: optional
Homepage: https://github.com/cinemast/sudoku
Description: console based sudoku
 This sudoku puzzle generator/solver features:
  * character based (curses) interface;
  * cross-platform (Minix, Unix, Windows) with full source code (ANSI C);
  * generates hints upon request;
  * classification of board difficulty (very easy, easy, medium, hard or
    fiendish);
  * generation of new boards;
  * easy entry of boards published in newspapers, Internet, ...;
  * multiple output formats (text, csv, HTML, PostScript).
