Source: sudoku
Section: games
Priority: optional
Maintainer: Peter Spiess-Knafl <dev@spiessknafl.at>
Build-Depends: debhelper (>= 9), libncurses-dev, librsvg2-bin, imagemagick
Standards-Version: 3.9.6
Homepage: https://github.com/cinemast/sudoku
Vcs-Git: https://salsa.debian.org/debian/sudoku.git
Vcs-Browser: https://salsa.debian.org/debian/sudoku

Package: sudoku
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: console based sudoku
 This sudoku puzzle generator/solver features:
  * character based (curses) interface;
  * cross-platform (Minix, Unix, Windows) with full source code (ANSI C);
  * generates hints upon request;
  * classification of board difficulty (very easy, easy, medium, hard or
    fiendish);
  * generation of new boards;
  * easy entry of boards published in newspapers, Internet, ...;
  * multiple output formats (text, csv, HTML, PostScript).
